
@import url(https://themes.googleusercontent.com/fonts/css?kit=r3oQQBWBLofdqMg7XagtpsGCWkzfd11qdWUR0ld0L_E);

ul.lst-kix_5g9f8ldvlgcw-6 {
    list-style-type: none
}

ul.lst-kix_5g9f8ldvlgcw-5 {
    list-style-type: none
}

ul.lst-kix_5g9f8ldvlgcw-8 {
    list-style-type: none
}

ul.lst-kix_5g9f8ldvlgcw-7 {
    list-style-type: none
}

.lst-kix_2f7igc6pfscr-0>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-1>li:before {
    content: "-  "
}

.lst-kix_lmyh5h5t6w8i-8>li:before {
    content: "-  "
}

ul.lst-kix_5g9f8ldvlgcw-0 {
    list-style-type: none
}

.lst-kix_lmyh5h5t6w8i-7>li:before {
    content: "-  "
}

ul.lst-kix_5g9f8ldvlgcw-2 {
    list-style-type: none
}

ul.lst-kix_5g9f8ldvlgcw-1 {
    list-style-type: none
}

ul.lst-kix_5g9f8ldvlgcw-4 {
    list-style-type: none
}

ul.lst-kix_5g9f8ldvlgcw-3 {
    list-style-type: none
}

.lst-kix_2f7igc6pfscr-6>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-4>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-5>li:before {
    content: "-  "
}

.lst-kix_5g9f8ldvlgcw-1>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-2>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-5>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-6>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-7>li:before {
    content: "-  "
}

.lst-kix_5g9f8ldvlgcw-0>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-3>li:before {
    content: "-  "
}

.lst-kix_5g9f8ldvlgcw-5>li:before {
    content: "-  "
}

ul.lst-kix_f752dls82kkb-8 {
    list-style-type: none
}

ul.lst-kix_f752dls82kkb-6 {
    list-style-type: none
}

ul.lst-kix_f752dls82kkb-7 {
    list-style-type: none
}

.lst-kix_5g9f8ldvlgcw-3>li:before {
    content: "-  "
}

.lst-kix_5g9f8ldvlgcw-7>li:before {
    content: "-  "
}

.lst-kix_5g9f8ldvlgcw-2>li:before {
    content: "-  "
}

.lst-kix_5g9f8ldvlgcw-6>li:before {
    content: "-  "
}

ul.lst-kix_84uzhhxgsx35-1 {
    list-style-type: none
}

ul.lst-kix_84uzhhxgsx35-0 {
    list-style-type: none
}

ul.lst-kix_84uzhhxgsx35-3 {
    list-style-type: none
}

.lst-kix_lmyh5h5t6w8i-0>li:before {
    content: "-  "
}

ul.lst-kix_84uzhhxgsx35-2 {
    list-style-type: none
}

ul.lst-kix_84uzhhxgsx35-5 {
    list-style-type: none
}

.lst-kix_lmyh5h5t6w8i-1>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-4>li:before {
    content: "-  "
}

ul.lst-kix_84uzhhxgsx35-4 {
    list-style-type: none
}

ul.lst-kix_84uzhhxgsx35-7 {
    list-style-type: none
}

.lst-kix_f752dls82kkb-3>li:before {
    content: "-  "
}

ul.lst-kix_84uzhhxgsx35-6 {
    list-style-type: none
}

.lst-kix_5g9f8ldvlgcw-4>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-7>li:before {
    content: "-  "
}

ul.lst-kix_84uzhhxgsx35-8 {
    list-style-type: none
}

.lst-kix_lmyh5h5t6w8i-4>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-1>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-0>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-1>li:before {
    content: "-  "
}

.lst-kix_lmyh5h5t6w8i-3>li:before {
    content: "-  "
}

.lst-kix_lmyh5h5t6w8i-5>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-0>li:before {
    content: "-  "
}

.lst-kix_f752dls82kkb-2>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-2>li:before {
    content: "-  "
}

.lst-kix_2f7igc6pfscr-8>li:before {
    content: "-  "
}

.lst-kix_lmyh5h5t6w8i-2>li:before {
    content: "-  "
}

.lst-kix_lmyh5h5t6w8i-6>li:before {
    content: "-  "
}

ul.lst-kix_f752dls82kkb-0 {
    list-style-type: none
}

ul.lst-kix_f752dls82kkb-1 {
    list-style-type: none
}

ul.lst-kix_f752dls82kkb-4 {
    list-style-type: none
}

ul.lst-kix_f752dls82kkb-5 {
    list-style-type: none
}

.lst-kix_5g9f8ldvlgcw-8>li:before {
    content: "-  "
}

ul.lst-kix_f752dls82kkb-2 {
    list-style-type: none
}

ul.lst-kix_f752dls82kkb-3 {
    list-style-type: none
}

.lst-kix_84uzhhxgsx35-8>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-7>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-6>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-4>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-3>li:before {
    content: "-  "
}

.lst-kix_84uzhhxgsx35-5>li:before {
    content: "-  "
}

ul.lst-kix_lmyh5h5t6w8i-8 {
    list-style-type: none
}

ul.lst-kix_lmyh5h5t6w8i-7 {
    list-style-type: none
}

ul.lst-kix_lmyh5h5t6w8i-6 {
    list-style-type: none
}

.lst-kix_f752dls82kkb-8>li:before {
    content: "-  "
}

ul.lst-kix_lmyh5h5t6w8i-5 {
    list-style-type: none
}

ul.lst-kix_lmyh5h5t6w8i-0 {
    list-style-type: none
}

ul.lst-kix_lmyh5h5t6w8i-4 {
    list-style-type: none
}

ul.lst-kix_lmyh5h5t6w8i-3 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_lmyh5h5t6w8i-2 {
    list-style-type: none
}

ul.lst-kix_lmyh5h5t6w8i-1 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-5 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-6 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-7 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-8 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-1 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-2 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-3 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-4 {
    list-style-type: none
}

ul.lst-kix_2f7igc6pfscr-0 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c2 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c1 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c0 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Helvetica Neue";
    font-style: normal
}

.c12 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Arial";
    font-style: normal
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline
}

.c13 {
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7 {
    text-decoration: inherit
}

.c10 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c11 {
    padding: 0;
    margin: 0
}

.c8 {
    height: 11pt
}

.c5 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
